<section class="section-characteristic">
    <div class="section-characteristic__container container">

        <h2 class="section-developers__title title title--white" data-uk-scrollspy="cls: uk-animation-fade; delay: 200">
            Характеристики протокола Harmony
        </h2>


        <ul class="section-characteristic__list">
            <li class="section-characteristic__item">
                <h2 class="section-characteristic__title">Завершение транзакций</h2>
                <p class="section-characteristic__text">5 сек. (1 блок)</p>
            </li>
            <li class="section-characteristic__item">
                <h2 class="section-characteristic__title">Валидаторы</h2>
                <p class="section-characteristic__text">1,000</p>
            </li>
            <li class="section-characteristic__item">
                <h2 class="section-characteristic__title">Комиссия за транзакцию</h2>
                <p class="section-characteristic__text">$0.000·001</p>
            </li>
            <li class="section-characteristic__item">
                <h2 class="section-characteristic__title">Запуск Осоновной Сети</h2>
                <p class="section-characteristic__text">Июнь 2019</p>
            </li>
            <li class="section-characteristic__item">
                <h2 class="section-characteristic__title">Размер Шарда</h2>
                <p class="section-characteristic__text">250 нод</p>
            </li>
            <li class="section-characteristic__item">
                <h2 class="section-characteristic__title">Годовая эмиссия</h2>
                <p class="section-characteristic__text">3%</p>
            </li>
            <li class="section-characteristic__item">
                <h2 class="section-characteristic__title">Количество шардов</h2>
                <p class="section-characteristic__text">4 шарда</p>
            </li>
        </ul>



    </div>
</section>