<section id="contacts" class="contacts">
    <div class="contacts__container container">

        <h2 class="contacts__title title" data-uk-scrollspy="cls: uk-animation-fade; delay: 200">
            Будь ONE и Оставайся на Связи
        </h2>


        <form id="form" class="contacts__form form" action="POST">


            <input class="form__input" type="email" placeholder="Введите email" required />


            <button form="form" class="form__button uk-animation-toggle" tabindex="0">
                <span class="button__text uk-animation-scale-up">отправить</span>
            </button>


        </form>

    </div>
</section>