<footer class="footer">
    <div class="footer__container container">

        <ul class="footer__list">
            <li class="footer__item">
                <a target="_blank" class="footer__link" href="https://www.harmony.one/ru">Harmony.ru</a>
            </li>
            <li class="footer__item">
                <a target="_blank" class="footer__link" href="https://www.harmony.one/">Harmony.en</a>
            </li>
            <li class="footer__item">
                <a target="_blank" class="footer__link" href="https://twitter.com/ONERuDAO">Твиттер</a>
            </li>
            <li class="footer__item">
                <a target="_blank" class="footer__link" href="https://talk.harmony.one/c/community/russian">Форум</a>
            </li>
            <li class="footer__item">
                <a target="_blank" class="footer__link" href="https://discord.com/invite/RtQp3z26QS">Дискорд сервер</a>
            </li>
            <li class="footer__item">
                <a target="_blank" class="footer__link" href="https://t.me/ONERuDAO">Телеграм</a>
            </li>
        </ul>



    </div>
</footer>