<div class="section-governor" id="governor">


    <div class="section-governor__container container">
        <h2 class="section-governor__title">Гавернеры</h2>


        <div class="section-governor__content content">

            <aside class="section-governor__aside-left content__aside-left">
                <h3 class="content__title">Кто такие гавернеры, их роль и обязательства?</h3>
                <p class="content__text">Команда предлагает нам самостоятельно (путем голосования) выбрать 9 Гавернеров
                    - 9 добровольцев из числа нашей сообщности, которые готовы посвящать свое время (до 10 часов в
                    неделю) и активно работать над выполнение Мандатов.
                    Срок их полномочий распространяется на 3 месяца с момента оглашения результатов голосования. По
                    прошествии этого срока мы снова будем переизбирать новых Гавернеров. Гавернеры также будут обладать
                    правом подписи мультисиг волета для управления финансированием ONERuDAO от Фонда Harmony.
                    Так же Фондом Harmony предусмотрена оплата труда гавернеров (уточняется).</p>
            </aside>

            <aside class="section-governor__aside-right content__aside-right">
                <h3 class="content__title">Как и зачем становиться гавернером?</h3>
                <p class="content__text">Для того чтобы стать одним из Гавернеров вам необходимо разместить свою
                    кандидатуру на
                    <a target="_blank" href="https://talk.harmony.one/" class="content__link">
                        этом форуме
                    </a> в разделе
                    Russian, представиться и
                    детально изложить свое виденье на
                    то, в чем вы можете приносить пользу ONERuDAO. В свою очередь сообщество, путем голосования, выразит
                    доверие и подчеркнет необходимость и значимость вашего видения для развития ONERuDAO и его
                    соответствие нашим Мандатам.
                </p>
            </aside>

        </div>

    </div>



</div>

</div>