<div class="section-governor" id="governor">
    <div class="section-governor__container container">
        <h2 class="section-governor__title title" data-uk-scrollspy="cls: uk-animation-fade; delay: 200">
            Хранители
        </h2>


        <div class="section-governor__content content-governor">

            <aside class="content-governor__aside-left" data-uk-scrollspy="cls: uk-animation-fade; delay: 400">
                <h3 class="content-governor__title">Кто такие Хранители, их роль и обязательства?</h3>
                <p class="content-governor__text">Команда предлагает нам самостоятельно (путем голосования) выбрать 9
                    Хранителей
                    - 9 добровольцев из числа нашей сообщности, которые готовы посвящать свое время (до 10 часов в
                    неделю) и активно работать над выполнение Мандатов.
                    Срок их полномочий распространяется на 3 месяца с момента оглашения результатов голосования. По
                    прошествии этого срока мы снова будем переизбирать новых Хранителей. Хранители также будут обладать
                    правом подписи мультисиг волета для управления финансированием ONERuDAO от Фонда Harmony.
                    Так же Фондом Harmony предусмотрена оплата труда Хранителей (уточняется).</p>
            </aside>

            <aside class="content-governor__aside-right" data-uk-scrollspy="cls: uk-animation-fade; delay: 400">
                <h3 class="content-governor__title">Как и зачем становиться Хранителем?</h3>
                <p class="content-governor__text">Для того чтобы стать одним из Хранителей вам необходимо разместить
                    свою
                    кандидатуру на
                    <a target="_blank" href="https://talk.harmony.one/" class="content-governor__link">
                        этом форуме
                    </a> в разделе
                    Russian, представиться и
                    детально изложить свое виденье на
                    то, в чем вы можете приносить пользу ONERuDAO. В свою очередь сообщество, путем голосования, выразит
                    доверие и подчеркнет необходимость и значимость вашего видения для развития ONERuDAO и его
                    соответствие нашим Мандатам.
                </p>


            </aside>

        </div>

    </div>



</div>