<div class="section-governor" id="governor">


    <div class="section-governor__container container">
        <h2 class="section-governor__title">Гавернеры</h2>


        <div class="section-governor__content content">

            <aside class="content__aside-left">
                <h3 class="content__title">Кто такие гавернеры, их роль и обязательства?</h3>
                <p class="content__text">Команда предлагает нам самостоятельно (путем голосования) выбрать 9 Гавернеров
                    - 9 добровольцев из числа нашей сообщности, которые готовы посвящать свое время (до 10 часов в
                    неделю) и активно работать над выполнение Мандатов.
                    Срок их полномочий распространяется на 3 месяца с момента оглашения результатов голосования. По
                    прошествии этого срока мы снова будем переизбирать новых Гавернеров. Гавернеры также будут обладать
                    правом подписи мультисиг волета для управления финансированием ONERuDAO от Фонда Harmony.
                    Так же Фондом Harmony предусмотрена оплата труда гавернеров (уточняется).</p>
            </aside>

            <aside class="content__aside-right">
                <h3 class="content__title">Как и зачем становиться гавернером?</h3>
                <p class="content__text">Для того чтобы стать одним из Гавернеров вам необходимо разместить свою
                    кандидатуру на
                    <a target="_blank" href="https://talk.harmony.one/" class="content__link">
                        этом форуме
                    </a> в разделе
                    Russian, представиться и
                    детально изложить свое виденье на
                    то, в чем вы можете приносить пользу ONERuDAO. В свою очередь сообщество, путем голосования, выразит
                    доверие и подчеркнет необходимость и значимость вашего видения для развития ONERuDAO и его
                    соответствие нашим Мандатам.
                </p>
                <p class="content__text">Примеры кандидатур Гавернеров для других DAO (это не догма, вы можете
                    использовать вашу форму представления):
                </p>
                <ol class="content__list">
                    <li class="content__item">
                        <a target="_blank"
                            href="https://talk.harmony.one/t/validator-dao-council-candidate-babylonodeone/1376"
                            class="content__link">Validator DAO Council Candidate</a>
                    </li>
                    <li class="content__item">
                        <a target="_blank"
                            href="https://talk.harmony.one/t/validator-dao-council-candidate-hankthecrank-coinkin/4027"
                            class="content__link">Validator DAO Council Candidate</a>
                    </li>
                    <li class="content__item">
                        <a target="_blank"
                            href="https://talk.harmony.one/t/candidate-for-incubator-dao-governor-tim-delhaes/4468"
                            class="content__link">Candidate for Incubator DAO Governor</a>
                    </li>
                </ol>
            </aside>

        </div>

    </div>



</div>

</div>