<section class="section-grants" id="grants">
    <div class="section-grants__container container">

        <h2 class="section-grants__title title" data-uk-scrollspy="cls: uk-animation-fade; delay: 200">
            Получай гранты или возглавь ДАО
        </h2>

        <p class="section-grants__text" data-uk-scrollspy="cls: uk-animation-fade; delay: 200">
            Harmony - это твоя открытая платформа для активов, коллектиблс, цифровой идентичности и гавернанса. Наши
            надежные мосты обеспечивают кросчейн передачу активов между Ethereum, Binance и еще 3 чейнами
        </p>

        <img class="section-grants__qr" src="images/QR1.png" alt="qr"
            data-uk-scrollspy="cls: uk-animation-fade; delay: 200">

        <a class="content-roadmap__button uk-animation-toggle button" target="_blank"
            href="https://open.harmony.one/300m-on-bounties-grants-daos/apply-for-grants-or-dao" tabindex="0"
            data-uk-scrollspy="cls: uk-animation-fade; delay: 200"><span
                class="button__text header__text uk-animation-scale-up">Подробнее</span></a>

    </div>
</section>