<section class="section-mandates">
    <div class="section-mandates__container container">

        <h2 class="section-mandates__title title" data-uk-scrollspy="cls: uk-animation-fade; delay: 200">
            Мандаты
        </h2>


        <div class="section-mandates__content content-mandates">

            <div class="content-mandates__inner">
                <h3 class="content-mandates__title">Что такое мандаты и откуда они берутся?</h3>
                <p class="content-mandates__text">Основываясь на фрейме для ДАО , который согласован с Фондом
                    (Foundation)
                    Harmony,
                    команда спускает всем заапрувленным ДАО свой сет Мандатов. Простыми словами Мандаты это задачи
                    которые
                    возлагаются на ДАО. Подразумевается, что непосредственное выполнение мандатов будет осуществляться
                    Гавернерами.</p>
            </div>





            <ul class="content-mandates__list">
                <li class="content-mandates__item">
                    <h3 class="content-mandates__subtitle">Рост</h3>
                    <p class="content-mandates__text">Прививать новым пользователям миссию и культуру, распространять
                        ценности в сообществах</p>
                </li>
                <li class="content-mandates__item">
                    <h3 class="content-mandates__subtitle">Вовлеченность</h3>
                    <p class="content-mandates__text">Поддерживать контент о изменениях дорожной карты и достижениях,
                        креативные кампании для продуктов</p>
                </li>
                <li class="content-mandates__item">
                    <h3 class="content-mandates__subtitle">Разнообразие</h3>
                    <p class="content-mandates__text">Мобилизовать активность и голосование на форумах, активизировать и
                        повышать активное участие в гавернансе</p>
                </li>
            </ul>


        </div>






    </div>
</section>