<nav class="navigation" id="navigation">
    <div class="navigation__container container">


        <div class="navigation__logo logo">
            <img class="logo__image" src="images/logo.png" alt="logo">
            <h2 class="logo__title">ONERuDAO</h2>
        </div>


        <div class="navigation__menu menu">
            <ul class="menu__list">
                <li class="menu__item">
                    <a href="#header" class="menu__link">О Нас</a>
                </li>
                <li class="menu__item">
                    <a href="#governor" class="menu__link">Гавернеры</a>
                </li>
                <li class="menu__item">
                    <a href="#experience" class="menu__link">Мандаты</a>
                </li>
                <li class="menu__item">
                    <a href="#works" class="menu__link">Гранты</a>
                </li>
                <li class="menu__item">
                    <a href="#works" class="menu__link">О Проекте</a>
                </li>
                <li class="menu__item">
                    <a href="#contacts" class="menu__link">Контакты</a>
                </li>
            </ul>
        </div>

    </div>
</nav>