<nav class="navigation" id="navigation">
    <div class="navigation__container container">


        <div class="navigation__logo logo">
            <img class="logo__image" src="images/logo.png" alt="logo">
            <h1 class="logo__title">ONERuDAO</h1>
        </div>



        <div class="navigation__menu menu">
            <ul class="menu__list">
                <li class="menu__item">
                    <a href="#header" class="menu__link">Главная</a>
                </li>
                <li class="menu__item">
                    <a href="#governor" class="menu__link">Гавернеры</a>
                </li>
                <li class="menu__item">
                    <a href="#mandates" class="menu__link">Мандаты</a>
                </li>
                <li class="menu__item">
                    <a href="#grants" class="menu__link">Гранты</a>
                </li>
                <li class="menu__item">
                    <a target="_blanck" href="news.html" class="menu__link">Новости</a>
                </li>
                <li class="menu__item">
                    <a href="#contacts" class="menu__link">Контакты</a>
                </li>
            </ul>
        </div>


        <nav class="navigation__navbar uk-navbar uk-navbar-container uk-margin" uk-toggle="target: #offcanvas-flip">
            <div class="uk-navbar-left">
                <a class="navigation__link uk-navbar-toggle" href="#">
                    <span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">Menu</span>
                </a>
            </div>
        </nav>



        <div class="navigation__burger-menu burger-menu" id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true">
            <div class="burger-menu__inner uk-offcanvas-bar">

                <button class="burger-menu__btn uk-offcanvas-close" type="button" uk-close></button>

                <div class="burger-menu__menu menu">
                    <ul class="burger-menu__list">
                        <li class="burger-menu__item">
                            <a href="#header" class="menu__link">Главная</a>
                        </li>
                        <li class="burger-menu__item">
                            <a href="#governor" class="menu__link">Гавернеры</a>
                        </li>
                        <li class="burger-menu__item">
                            <a href="#mandates" class="menu__link">Мандаты</a>
                        </li>
                        <li class="burger-menu__item">
                            <a href="#grants" class="menu__link">Гранты</a>
                        </li>
                        <li class="burger-menu__item">
                            <a target="_blanck" href="news.html" class="menu__link">Новости</a>
                        </li>
                        <li class="burger-menu__item">
                            <a href="#contacts" class="menu__link">Контакты</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>


        <ul class="social__list navigation__list">
            <li class="social__item">
                <a target="_blank" href="https://twitter.com/onerudao" class="social__link uk-animation-toggle">
                    <svg class="social__icon">
                        <use class="social__use" xlink:href="#twitter"></use>
                    </svg>
                </a>
            </li>
            <li class="social__item">
                <a target="_blank" href="https://t.me/ONERuDAO" class="social__link uk-animation-toggle">
                    <svg class="social__icon">
                        <use class="social__use" xlink:href="#telegram"></use>
                    </svg>
                </a>
            </li>
            <li class="social__item">
                <a target="_blank" href="https://talk.harmony.one" class="social__link uk-animation-toggle">
                    <svg class="social__icon">
                        <use class="social__use" xlink:href="#web"></use>
                    </svg>
                </a>
            </li>
            <li class="social__item">
                <a target="_blank" href="https://instagram.com/onerudao" class="social__link uk-animation-toggle">
                    <svg class="social__icon">
                        <use class="social__use" xlink:href="#instagram"></use>
                    </svg>
                </a>
            </li>
        </ul>

    </div>
</nav>