<section class="section-onerudao" id="onerudao">
    <div class="section-onerudao__container container">

        <h1 class="section-onerudao__title title">
            Что такое ONERuDAO?
        </h1>


        <div class="section-onerudao__content content-onerudao">

            <ul class="content-onerudao__list">
                <li class="content-onerudao__item">
                    <h3 class="content-onerudao__title">ONERuDAO</h3>
                    <p class="content-onerudao__text">Это самостоятельная, самодостаточная Децентрализованная Автономная
                        Организация.Стандартно, в представлении команды, данная организация имеет определенный фрейм,
                        подразумевающий свободное участие для любого последователя.В Октябре 2021 во время
                        многочисленных митапов в Лиссабоне и личного общения с СЕО Harmony Nick Vasilich получил
                        одобрение на формирование русскоязычного ДАО - социального ДАО, основой которого станут только
                        последователи проекта из русскоязычных регионов крипто мира.</p>
                </li>
                <li class="content-onerudao__item">
                    <h3 class="content-onerudao__title">Структура и цели</h3>
                    <p class="content-onerudao__text">Команда проекта возлагает определенные надежды в достижении целей
                        каждым ДАО и конкретно ONERuDAO в том числе. Эти цели будут изложены и анонсированы публично в
                        МАНДАТАХ ДАО.Структура ONERuDAO это 9 избранных во время открытого голосования Хранителей и
                        бесконечное количество трушных последователей проекта. Хранители избираются на 3-х месяченый
                        срок, подразумевается почасовая оплата их труда (комитмент от 10 часов в неделю, с уровнем
                        оплаты $75 час). Конечно все это будет контролироваться путем открытых отчетов о проделанной
                        работе с использованием peer-to-peer review тулов.Все остальные члены сообщности ONERuDAO также
                        будут иметь возможность пассивной и активной компенсации за их вклад в развитие ДАО.</p>
                </li>
                <li class="content-onerudao__item">
                    <h3 class="content-onerudao__title">Причина создания ONEruDAO</h3>
                    <p class="content-onerudao__text">Как многим из нас уже известно в мае 2021 команда проекта Harmony
                        анонсировала “Путь ДАО”, который подразумевает совсем новую форму взаимодействия между
                        экосистемой проекта и ее последователями.ONERuDAO создавалось наравне с другими ДАО экосистемы,
                        как часть социального эксперимента по расширению и продвижению сообщества Harmony во всех
                        крупных регионах. </p>
                </li>
            </ul>


        </div>


    </div>
</section>