<section class="section-roadmap">
    <div class="section-roadmap__container container">

        <h2 class="section-roadmap__title title title--white" data-uk-scrollspy="cls: uk-animation-fade; delay: 200">
            Дорожная карта Harmony
        </h2>


        <div class="section-roadmap__content content-roadmap ">
            <ul class="content-roadmap__list">
                <li class="content-roadmap__item" data-uk-scrollspy="cls: uk-animation-fade; delay: 200">
                    <h3 class="content-roadmap__subtitle">2019 Июнь-Дек</h3>
                    <p class="content-roadmap__text">Binance IEO, Приобретение Quidd, Презентация в Шанхае</p>
                    <p class="content-roadmap__text">1000-нод основной сети, Эффективный PoS, 3000 Сообщество Pangaea
                    </p>
                </li>
                <li class="content-roadmap__item" data-uk-scrollspy="cls: uk-animation-fade; delay: 200">
                    <h3 class="content-roadmap__subtitle">2020 Q1 и Q2</h3>
                    <p class="content-roadmap__text">Своп токенов, Стейблкоины, HRC-721 для брендированных активов</p>
                    <p class="content-roadmap__text">Опен Стейкинг, Механизм EPoS, Стейкинг Дашборд</p>
                </li>
                <li class="content-roadmap__item" data-uk-scrollspy="cls: uk-animation-fade; delay: 200">
                    <h3 class="content-roadmap__subtitle">2020 Q3</h3>
                    <p class="content-roadmap__text">Гранты для развития Экосистемы, Завершение за 3 секунды, DeFi</p>
                    <p class="content-roadmap__text">Фиатные Гейтэвеи, Стейкинг Кошельки, Ethereum мосты</p>
                </li>
                <li class="content-roadmap__item" data-uk-scrollspy="cls: uk-animation-fade; delay: 200">
                    <h3 class="content-roadmap__subtitle">2020 Q4</h3>
                    <p class="content-roadmap__text">Проверяемая Приватность, Кросс-Граничные Финансы</p>
                    <p class="content-roadmap__text">100% Децентрализация Нод, Управление Сообществом</p>
                </li>
            </ul>

            <a class="content-roadmap__button uk-animation-toggle button" target="_blank"
                href="https://medium.com/harmony-one/harmony-2020-year-in-review-ecosystem-growth-f414a86dbda9"
                tabindex="0" data-uk-scrollspy="cls: uk-animation-fade; delay: 200"><span
                    class="button__text header__text uk-animation-scale-up">Подробнее</span></a>

        </div>


    </div>
</section>