* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // scroll-behavior: smooth;
  }
  // body {
  //   position: relative;
  // }
  a {
    text-decoration: none;
  }
  ul,
  ol {
    list-style: none;
  }
  .svg {
    display: none;
  }
  .fullpage {
    display: none;
  }
  .container {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    @media screen and (min-width: $screen-desktop) {
      padding-left: 70px;
      padding-right: 70px;
    }
  }
  .container--content {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    @media screen and (min-width: $screen-desktop) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  