.contacts {
    padding-bottom: 100px;
    padding-top: 100px;
    // background-image: url(../images/governor_fon.png);
    // background-repeat: no-repeat;
    // background-size: cover;
    &__container {
        @include flex(center, center, column);
    }
    &__title {
        @media screen and (min-width: $screen-tablet) {
            @include text($H600, 700, $black);
          }
        &::after {
            width: 0px;
          }
    }
}