.section-developers {
    height: 50vh;
    background-color: $midnight-blue;
    &__container {
      padding-top: 50px;
      @include flex(center, center, column);
  }
    &__title {
      text-align: center;
        position: relative;
        font-family: $main-font;
        text-transform: uppercase;
        @include text($H500, 700, $white);
        line-height: 1.3;
        margin-bottom: 100px;
        @media screen and (min-width: $screen-tablet) {
          @include text($H700, 600, $white);
          margin-bottom: 50px;
        }
        &::after {
          position: absolute;
          bottom: -20px;
          left: 25%;
          display: block;
          content: "";
          height: 3px;
          width: 50%;
          background-image: linear-gradient(90deg, rgba(105,250,189,1) 35%, rgba(0,174,233,1) 100%);
        }
  }
}