.header {
  position: relative;
  height: 100vh;
  &__list {
    height: 100vh;
  }
  &__item {
    height: 100vh;
  }
  // &__image {
  //   height: 100vh;
  // }
  // }
//   background-image: url(../images/header_fon_1.png);
//   background-repeat: no-repeat;
  // background-size: contain;
// //   background-attachment: fixed;
//   background-position: 100% 100%;
}
