.burger-menu {
    &__inner {
        background-image: $linear-gradient;
    }
    &__menu {
        height: 100%;
        @include flex(center, flex-start, column);
    }
    &__item {
        margin-bottom: 50px;
    }
    &__icon {
        fill: $white;
    }
}