.content-developers {
    @include flex(center, center, column);
    &__list {
            @include flex(center, center, column);
            margin-bottom: 50px;
        @media screen and (min-width: $screen-desktop-large) {
            @include flex(space-between, flex-start, row);
          }
    }
    &__item:not(:last-child) {
        margin-right: 0px;
        margin-bottom: 50px;
        @media screen and (min-width: $screen-desktop-large) {
            margin-right: 50px;
            margin-bottom: 0px;
          }
    }
    &__item {
        @include flex(center, center, column);
        width: 100%;
        @media screen and (min-width: $screen-desktop-large) {
            width: 25%;
          }
    }
    &__title {
        @include text($H500, 700, $white);
        font-family: $main-font;
        letter-spacing: 0.32px;
        margin-bottom: 20px;
    }
    &__image {
        margin-bottom: 20px;
        width: 135px;
    }
    &__text:last-of-type {
        margin-bottom: 20px;
    }
    &__text {
        text-align: center;
        font-family: $main-font;
        @include text($H50, 400, $white);
        letter-spacing: 0.32px;
        @media screen and (min-width: $screen-desktop-large) {
            text-align: left;
          }
    }

}