.form {
    @include flex(center, center, row);
    width: 70vw;
    @media screen and (min-width: $screen-desktop-large) {
        width: 40vw;
      }
    &__input {
        outline: none;
        @include text($H200, 400, $cool-gray);
        border-radius: 5px 0 0 5px;
        padding: 10px;
        width: 60%;
        height: 30px;
        border: 2px solid $bg-input;
        background-color: $bg-input;
        transition: all 0.3s linear;
        @media screen and (min-width: $screen-tablet-small) {
            height: 50px;
          }
        @media screen and (min-width: $screen-desktop) {
            width: 80%;
          }
    }
    &__input::placeholder {
        @include text($H5, 400, $cool-gray);
        @media screen and (min-width: $screen-desktop) {
            @include text($H50, 400, $cool-gray);
          }
      }
      &__input:focus {
        border: 2px solid $electric-blue;
        border-right: none;
      }
      &__input:invalid:not(:placeholder-shown) {
        background-color: rgba(255,0,0,0.1);
        border: 2px solid rgba(255,0,0,0.2);
        border-right: none;
      }
      &__input:valid {
        background-color: $bg-input;
      }
    &__button {
        background-image: linear-gradient(45deg, rgba(0,174,233,1) 0%, rgba(105,250,189,1) 35%, rgba(27,41,94,1) 100%);
        @include text($H50, 600, $midnight-blue);
        font-family: $main-font;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        border: none;
        width: 40%;
        height: 30px;
        display: block;
        @media screen and (min-width: $screen-tablet-small) {
            height: 50px;
          }
        @media screen and (min-width: $screen-desktop) {
            @include text($H100, 600, $midnight-blue);
            width: 20%;
          }
        @media screen and (min-width: $screen-desktop-large) {
            @include text($H200, 600, $midnight-blue);
          }
    }
}