.logo {
    cursor: pointer;
    &__link {
        @include flex(center, center, row);
    }
    &__image {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        transition: all 0.2s linear;
       
        @media screen and (min-width: $screen-tablet-large) {
            width: 50px;
            height: 50px;
          }
        // &:hover {
            
            // animation:move 3s linear infinite;
            // @keyframes move{
            //     from {
            //       transform:rotate3d(1,-1,0,0);
            //     }
            //     to {
            //       transform:rotate3d(1,-5,0,360deg);
            //     }
            //   }
        // }
    }
    &__title {
        font-family: $main-font;
        @include text($H100, 600, $midnight-blue);
        transition: all 0.2s linear;
        @media screen and (min-width: $screen-tablet-large) {
            @include text($H100, 600, $midnight-blue);
          }
        
    }
}