.logo {
    cursor: pointer;
    @include flex(center, flex-end, row);
    // display: none;
    // @media screen and (min-width: $screen-tablet-small) {
    //     @include flex(center, flex-end, row);
    //   }
    &__image {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        transition: all 0.2s linear;
        @media screen and (min-width: $screen-tablet-small) {
            width: 40px;
            height: 40px;
          }
        @media screen and (min-width: $screen-tablet-large) {
            width: 50px;
            height: 50px;
          }
        // &:hover {
            
        //     animation:move 3s linear infinite;
        //     @keyframes move{
        //         from {
        //           transform:rotate3d(1,-1,0,0);
        //         }
        //         to {
        //           transform:rotate3d(1,-5,0,360deg);
        //         }
        //       }
        // }
    }
    &__title {
        font-family: $main-font;
        @include text($H200, 700, $white);
        transition: all 0.2s linear;
        display: none;
        @media screen and (min-width: $screen-tablet-small) {
            display: block;
          }
        @media screen and (min-width: $screen-tablet-large) {
            @include text($H400, 700, $white);
          }
        &:hover {
            @include text($H400, 700, $mint-green);
        }
    }
}