.social {
    &__list {
        @include flex(space-between, center, row);
        margin-bottom: 30px;
    }
    &__item:not(:last-child) {
        margin-right: 15px;
        @media screen and (min-width: $screen-iphone-plus) {
            margin-right: 20px;
          }
    }
    &__icon {
        width: 18px;
        height: 18px;
        fill: $white;
        transition: all 0.2s linear;
        &:hover {
            fill: $electric-blue;
        }
    }
    &__use {
        width: 18px;
        height: 18px;
    }


}