.content-mandates {
    &__inner {
        @include flex(center, center, column);
        margin-bottom: 100px;
    }
    &__title {
        margin-bottom: 30px;
        font-family: $main-font;
        letter-spacing: 0.32px;
        @include text($H300, 700, $black);

    }
    &__text {
        text-align: center;
        font-family: $main-font;
        letter-spacing: 0.32px;
        line-height: 20px;
        @include text($H100, 400, $cool-gray);
        @media screen and (min-width: $screen-desktop-large) {
            text-align: left;
          }
          &--left {
            text-align: left;
          }
    }
    &__list {
        @include flex(center, center, column);
    @media screen and (min-width: $screen-desktop-large) {
        @include flex(space-between, flex-start, row);
  }
    }
    &__item:not(:last-child) {
        margin-right: 0px;
        margin-bottom: 100px;
        @media screen and (min-width: $screen-desktop-large) {
            margin-right: 50px;
            margin-bottom: 0px;
          }
    }
    &__item {
        @include flex(center, center, column);
        width: 80%;
        @media screen and (min-width: $screen-desktop-large) {
            width: 30%;
          }
    }
    &__subtitle {
        margin-bottom: 30px;
        font-family: $main-font;
        letter-spacing: 0.32px;
        @include text($H300, 700, $black);
    }
    &__icon {
        border: 1px solid $electric-blue;
        border-radius: 50%;
        cursor: pointer;
        fill: $electric-blue;
        width: 70px;
        height: 70px;
        margin-bottom: 30px;
    }
    
}