.content-mandates {
    &__inner {
        @include flex(center, center, column);
        margin-bottom: 200px;
    }
    &__title {
        font-family: $main-font;
        @include text($H500, 700, $midnight-blue);
        margin-bottom: 50px;
        text-align: center;
    }
    &__text {
        font-family: $text-font;
        @include text($H100, 400, $cool-gray);
        line-height: 1.2;
        text-align: center;
        @media screen and (min-width: $screen-desktop) {
            line-height: 2;
          }
    }
    &__list {
        @include flex(center, center, column);
    @media screen and (min-width: $screen-desktop) {
        @include flex(space-between, flex-start, row);
  }
    }
    &__item:not(:last-child) {
        margin-right: 0px;
        margin-bottom: 100px;
        @media screen and (min-width: $screen-desktop-large) {
            margin-right: 50px;
            margin-bottom: 0px;
          }
    }
    &__item {
        @include flex(center, center, column);
        width: 100%;
        @media screen and (min-width: $screen-desktop-large) {
            width: 30%;
          }
    }
    &__subtitle {
        font-family: $main-font;
        @include text($H400, 700, $midnight-blue);
        margin-bottom: 20px;
        text-align: center;
        @media screen and (min-width: $screen-desktop) {
            text-align: left;
          }
    }
    &__icon {
        cursor: pointer;
        fill: $midnight-blue;
        width: 70px;
        height: 70px;
        margin-bottom: 20px;
    }
    
}